{{#ch-sidebar}}
  <li class="list-group-item sidebar-separator-title sidebar-callsign d-flex align-items-center menu-collapsed">
    {{person.callsign}}
  </li>
  {{#ch-sidebar-group 'SCHEDULING'}}
    {{ch-sidebar-link 'person.schedule' person.id title="Schedule" icon="calendar-alt"}}
    {{ch-sidebar-link 'person.signup' person.id title="Shift Signup" icon="clipboard"}}
    {{ch-sidebar-link 'person.timesheet' person.id title="Timesheet" icon="clock"}}
  {{/ch-sidebar-group}}

  {{#ch-sidebar-group 'GENERAL'}}
    {{ch-sidebar-link 'person.messages' person.id title="Messages" icon="envelope" badgeText=person.unread_message_count}}
    {{ch-sidebar-link 'person.ranger-info-show' person.id title="Ranger Info" icon="user"}}
  {{/ch-sidebar-group}}

  {{#ch-sidebar-group 'PROFILE'}}
    {{ch-sidebar-link 'person.personal-info-show' person.id title="Personal Info" icon="home" iconType="s"}}
    {{ch-sidebar-link 'person.emergency-contact-show' person.id title="Emergency Contact" icon="exclamation" iconType="s"}}
    {{ch-sidebar-link 'person.password' person.id title="Change Password" icon="key" iconType="s"}}
  {{/ch-sidebar-group}}

  {{#ch-sidebar-group}}
    {{ch-sidebar-link '#' title="Help" icon="question" iconType="s"}}
    {{ch-sidebar-collapse}}
  {{/ch-sidebar-group}}

  <div class="ranger-logo menu-collapsed"></div>

{{/ch-sidebar}}
