{{year-select 'Schedule & Shift Signup' person.years_rangered year onChange=(action 'changeYear')}}
<hr>
{{#if showSchedule}}
<h3>Current Schedule</h3>
<div id="current-schedule">
{{schedule-table slots=signedUpSlots person=person}}
</div>
<a class="btn btn-info" {{action 'toggleSchedule'}}>Hide Schedule</a>
{{else}}
<a class="btn btn-info" {{action 'toggleSchedule'}}>Show Schedule</a>
{{/if}}
<hr>
<h3>Available Shifts</h3>
{{#if slots}}
  <div class="row mb-1">
    <div class="col-md-4 mb-2">
      {{#power-select
            options=positionOptions
            selected=filterPosition
            searchEnabled=false
            searchField='title'
            onchange=(action (mut filterPosition))
                      as |item| }}
          {{item.title}}
      {{/power-select}}
    </div>
    <div class="col-md-3 mb-2">
      {{#power-select
            selected=filterDay
            options=dayOptions
            searchEnabled=false
            searchField='title'
            onchange=(action (mut filterDay))
                      as |item| }}
          {{item.title}}
      {{/power-select}}
    </div>
    <div class="col-md-5 mb-2">
      {{#power-select
            selected=filterDescription
            options=descriptionOptions
            searchEnabled=false
            onchange=(action (mut filterDescription)) as |item| }}
            {{item}}
        {{/power-select}}
    </div>
  </div>

  {{#if slotGroups}}
    {{#each slotGroups as |group|}}
      <h3>{{group.title}}</h3>
      <table class="table table-hover schedule-table table-sm table-rc">
        <thead>
          <tr>
            <th class="schedule-time">From</th>
            <th class="schedule-time">To</th>
            <th class="schedule-credits td-number">Credits</th>
            <th class="schedule-description">Description</th>
            <th class="schedule-full">Signups</th>
            <th class="schedule-actions">Actions</th>
          </tr>
        </thead>
        <tbody>
          {{#each group.slots as |slot|}}
            <tr class="{{if slot.person_assigned 'table-warning'}}">
              <td class="schedule-time" data-title="From">{{shift-format slot.slot_begins}}</td>
              <td class="schedule-time" data-title="To">{{shift-format slot.slot_ends}}</td>
              <td class="schedule-credits td-number" data-title="Credits">{{credits-format slot.credits}}</td>
              <td class="schedule-description" data-title="Description">
                {{#if slot.slot_url}}
                  <a href="{{slot.slot_url}}"><i class="fas fa-info-circle"></i> {{slot.slot_description}}</a>
                {{else}}
                  {{slot.slot_description}}
                {{/if}}
              </td>
              <td class="schedule-full" data-title="Signups"> {{slot-full-indicator slot}} </td>
              <td class="schedule-actions" data-title="Actions">
                <a href="#" {{action 'showPeople' slot}} class="btn btn-primary btn-sm">{{fa-icon 'users' type='fas'}}</a>
                {{#if slot.person_assigned}}
                  <a href="#" {{action 'leaveSlot' slot}} class="btn btn-danger btn-sm">{{fa-icon 'trash-alt' type='fas'}}</a>
                {{else}}
                  {{#if (or (not slot.isFull) (has-role 'admin')) }}
                    <a href="#" {{action 'joinSlot' slot}} class="btn btn-secondary btn-sm">{{fa-icon 'user-plus' type='fas'}}</a>
                  {{/if}}
                {{/if}}
              </td>
            </tr>
            {{/each}}
        </tbody>
      </table>
    {{/each}}
    {{else}}
      <div class="text-danger">There are no shifts which match.</div>
    {{/if}}
{{else}}
<div class="text-danger">There are no shifts available.</div>
{{/if}}
