<header>
  <nav class="navbar navbar-expand-md navbar-light bg-khaki">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">
      <span class="menu-collapsed">Clubhouse</span>
    </a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto">
        {{#if session.isAuthenticated}}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Me</a>
            <div class="dropdown-menu">
              {{#link-to 'person.schedule' user.id class="dropdown-item"}}Schedule{{/link-to}}
              {{#link-to 'person.signup' user.id class="dropdown-item"}}Shift Signup{{/link-to}}
              {{#link-to 'person.timesheet' user.id class="dropdown-item"}}Timesheet{{/link-to}}
              {{#link-to 'person.messages' user.id class="dropdown-item"}}Messages{{/link-to}}
              {{#link-to 'person.ranger-info-show' user.id class="dropdown-item"}}Ranger Info{{/link-to}}
              {{#link-to 'person.personal-info-show' user.id class="dropdown-item"}}Personal Info{{/link-to}}
              {{#link-to 'person.emergency-contact-show' user.id class="dropdown-item"}}Emergency Contact{{/link-to}}
              {{#link-to 'person.password' user.id class="dropdown-item"}}Change Password{{/link-to}}
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link2</a>
          </li>
      {{else}}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Actions</a>
          <div class="dropdown-menu">
            {{#link-to 'login' class="dropdown-item"}}Login{{/link-to}}
            {{#link-to 'reset-password' class="dropdown-item"}}Password Reset{{/link-to}}
            <a href="#" class="dropdown-item">Register</a>
            <a href="https://profiles.burningman.com/participate" class="dropdown-item">Volunteer Profile</a>
          </div>
        </li>
      {{/if}}

        <!-- This menu is hidden in bigger devices with d-sm-none.
           The sidebar isn't proper for smaller screens imo, so this dropdown
           menu can keep all the useful sidebar itens exclusively for
           smaller screens
        <li class="nav-item d-sm-block d-md-none">
        </li> -->
        <!-- Smaller devices menu END -->
      </ul>
      {{#if session.isAuthenticated}}
        <span class="nav-text d-none-sm"><small>{{user.callsign}} {{user.roleNames}}</small></span>
        <ul class="navbar-nav">
          <li class="nav-item"><a class='nav-link' {{action 'logout'}}>Logout</a></li>
        </ul>
      {{/if}}
    </div>
  </nav>
  <!-- NavBar END -->
</header>

<div class="row" id="body-row">
   {{outlet}}
</div>

<footer class="footer">
  <div class="container text-center">
    <div>For general questions and support email: {{mail-to (config 'GeneralSupportEmail')}}</div>
    <p>For technical support email: {{mail-to (config 'AdminEmail')}}</p>
    <p><small>{{config 'SiteNotice'}}</small></p>
  </div>
</footer>
{{modal-registry}}
{{notification-container position="top-right"}}
