<header>
  <nav class="navbar fixed-top navbar-expand-md navbar-light bg-khaki mb-2">
    <div class="navbar-brand">Secret Clubhouse</div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      {{#if session.isAuthenticated}}
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            {{#link-to 'person.overview' 'me' class='nav-link' }}Me{{/link-to}}
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
        <span class="nav-text"><small>{{user.callsign}}</small></span>
        <ul class="navbar-nav">
          <li class="nav-item"><a class='nav-link' {{action 'logout'}}>Logout</a></li>
        </ul>
      {{/if}}
    </div>
  </nav>
</header>

<div class="container-fluid">
  {{outlet}}
</div>

<footer class="footer">
  <div class="container text-center">
    <div>For general questions and support email: {{mail-to (config 'GeneralSupportEmail')}}</div>
    <p>For technical support email: {{mail-to (config 'AdminEmail')}}</p>
    <p><small>{{config 'SiteNotice'}}</small></p>
  </div>
</footer>
{{modal-registry}}
