<header>
  <nav class="navbar navbar-expand-md navbar-light bg-khaki">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">
      <span class="menu-collapsed">Clubhouse</span>
    </a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto">
        {{#if session.isAuthenticated}}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Me</a>
            <div class="dropdown-menu">
              <div class="navbar-text">Scheduling</div>
              {{#link-to 'me.signup' class="dropdown-item"}}Schedule &amp; Shift Signup{{/link-to}}
              {{#link-to 'me.timesheet' class="dropdown-item"}}Timesheet{{/link-to}}
              <div class="navbar-text">General</div>
              {{#link-to 'me.messages' class="dropdown-item"}}Messages{{/link-to}}
              {{#link-to 'me.tickets' class="dropdown-item"}}Tickets &amp; Stuff{{/link-to}}
              {{#link-to 'me.ranger-info-show' class="dropdown-item"}}Ranger Info{{/link-to}}
              <div class="navbar-text">Profile</div>
              {{#link-to 'me.personal-info-show' class="dropdown-item"}}Personal Info{{/link-to}}
              {{#link-to 'me.emergency-contact-show' class="dropdown-item"}}Emergency Contact{{/link-to}}
              {{#link-to 'me.password' class="dropdown-item"}}Change Password{{/link-to}}
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Admin</a>
            <div class="dropdown-menu dropdown-mega">
              <div class="row">
                <div class="col">
                  <div class="navbar-text">Database</div>
                  <a href="#" class="dropdown-item">Edit Slots</a>
                  <a href="#" class="dropdown-item">Edit Positions</a>
                  <a href="#" class="dropdown-item">Edit Credits</a>
                  <a href="#" class="dropdown-item">DB Conversions</a>
                  <a href="#" class="dropdown-item">Maintenance</a>
                  <a href="#" class="dropdown-item">Log View</a>
                </div>
                <div class="col">
                  <div class="navbar-text">Misc.</div>
                  <a href="#" class="dropdown-item">Salesforce Import</a>
                  <a href="#" class="dropdown-item">Reminder Emails</a>
                  <a href="#" class="dropdown-item">Bulk Upload</a>
                  <a href="#" class="dropdown-item">Sync. Lam Photos</a>
                  <a href="#" class="dropdown-item">Export Lam Photos</a>
                  <a href="#" class="dropdown-item">Bulk Signout</a>
                </div>
                <div class="col">
                  <div class="navbar-text">Post Event</div>
                  <a href="#" class="dropdown-item">Thank-You Cards</a>
                  <a href="#" class="dropdown-item">Timesheet Sanity Check</a>
                  <a href="#" class="dropdown-item">Manual Review</a>
                  <a href="#" class="dropdown-item">Hours/Credits</a>
                  <a href="#" class="dropdown-item">Person Status Change</a>
                </div>
              </div>
            </div>
          </li>
      {{else}}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Actions</a>
          <div class="dropdown-menu">
            {{#link-to 'login' class="dropdown-item"}}Login{{/link-to}}
            {{#link-to 'reset-password' class="dropdown-item"}}Password Reset{{/link-to}}
            <a href="#" class="dropdown-item">Register</a>
            <a href="https://profiles.burningman.com/participate" class="dropdown-item">Volunteer Profile</a>
          </div>
        </li>
      {{/if}}

        <!-- This menu is hidden in bigger devices with d-sm-none.
           The sidebar isn't proper for smaller screens imo, so this dropdown
           menu can keep all the useful sidebar itens exclusively for
           smaller screens
        <li class="nav-item d-sm-block d-md-none">
        </li> -->
        <!-- Smaller devices menu END -->
      </ul>
      {{#if session.isAuthenticated}}
        <span class="nav-text"><small>{{user.callsign}}</small></span>
        <ul class="navbar-nav">
          <li class="nav-item"><a class='nav-link' {{action 'logout'}}>Logout</a></li>
        </ul>
      {{/if}}
    </div>
  </nav>
  <!-- NavBar END -->
</header>

<div class="row" id="body-row">
   {{outlet}}
</div>

<footer class="footer">
  <div class="container text-center">
    <p>For general questions and support email: {{mail-to (config 'GeneralSupportEmail')}}</p>
    <p>For technical support email: {{mail-to (config 'AdminEmail')}}</p>
    <p><small>{{config 'SiteNotice'}}</small></p>
  </div>
</footer>
{{modal-registry}}
{{flash-render}}
