<div class="row" id="body-row">
   {{login-sidebar}}
    <main class="col">
      {{flash-render}}
      <div class="row">
        <div class="col-md-6 col-sm-12">
          {{#ch-box 'Howdy Ranger!'}}
            {{#ch-form 'auth' auth validator=LoginValidations onSubmit=(action "submit") as |f|}}
              {{f.input "identification" label="Email"}}
              {{f.input "password" label="Password" type="password"}}
              {{f.submit label="Login" disabled=isLoading }}
              <div class="text-muted">Forget password? </div>{{#link-to 'reset-password'}}Reset password{{/link-to}}
            {{/ch-form}}
          {{/ch-box}}
        </div>

        <div class="col-md-6 col-sm-12">
          {{#ch-box 'Interest in volunteering with The Rangers?'}}
            Please fill out a <a href="https://profiles.burningman.com/participate/">Burning Man Volunteer Questionnaire</a>;
             once your Volunteer Questionnaire is approved, a Secret Clubhouse
             account will automatically be created for you.
          {{/ch-box}}
        </div>

        <div class="col-md-6 col-sm-12">
          {{#ch-box 'Interested in training but not volunteering?'}}
            If you do NOT intend to volunteer with the Rangers on playa but are
            interested in taking Ranger training anyway, please
            <a href="{{config 'SignupUrl'}}">go here</a> to manually
            create a Secret Clubhouse account.
          {{/ch-box}}
        </div>
      </div>
    </main>
</div>
